<mat-toolbar>Registro de Órden</mat-toolbar>

<div class="example-container">
    <mat-form-field class="example-full-width">
        <mat-select placeholder="Cliente" [(value)]="idClienteSeleccionado">
            <mat-option *ngFor="let p of clientes" [value]="p.idCliente">
                {{p.nombres}} {{p.apellidos}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br/> Seleccione el artículo

    <mat-form-field>
        <mat-select placeholder="Artículo" [(value)]="idArticuloSeleccionado">
            <mat-option *ngFor="let art of articulos" [value]="art.idArticulo">
                {{ art.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br/>
    <button mat-raised-button color="warn" (click)="aceptar()" [disabled]="estadoBotonRegistrar()">Registrar</button>
</div>